$main-color: #51733f;
$secondary-color: rgb(208, 212, 158);
$third-color: rgb(251, 251, 248);
$white-color: white;

$title-color: black;

$font-color: black;
$accentuedFont-color: red;
$fadedFont-color: red;
$softFont-color: white;

$main-font: "Open Sans", sans-serif;
$accentuation-font: 'Prata', serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  font-family: $main-font;
}

h1 {
  color: $main-color;
  font-family: $accentuation-font;
  text-transform: uppercase;
}

button, .button2 {
    font-family: $accentuation-font;
    color: $main-color;
}

.line {
  width: 100%;
  border-top: 2px solid $title-color;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactFooterContainer {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, $secondary-color);
  padding: 0 2vh 7vh;
}