@import "./General.scss";

header {
    display: flex;
    flex-direction: column;
    padding: 1% 5% 0 5%;
    font-size: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $main-color;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

li {
  list-style: none;
}

li a,
.logo {
  text-decoration: none;
  color: $softFont-color;
  font-family: $accentuation-font;
  transition: color 0.3s ease-in-out;
}

li a:hover, .logo:hover {
  color: $fadedFont-color;
}

@media (max-width: 1000px) {
  .headerContainer {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  ul {
    padding: 0;
  }

  li {
    font-size: 20px;
  }
}