@import "./General.scss";

.presentationContainer {
  padding: 100px 6vw;
  background: $lightSecondary-color;
  background-image: url(../assets/backgrounds/noise.png);
  width: 100%;
  display: flex;
  height: 600px;
}

.sloganContainer {
  font-family: $accentuation-font;
  position: relative;
  width: 60%;
}

.slogan {
  width: 100%;
}

.sloganItem1 {
  font-weight: 900;
  font-size: 160px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0px;
}

.sloganItem2 {
  font-weight: 700;
  background: linear-gradient(120deg, $lightMain-color 0%, $main-color 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 145px;
  left: 50px;
  font-size: 55px;
}

.sloganItem3 {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 10px;
}

.portraitContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.portraitSG {
  filter: grayscale(100%);
  height: 300px;
  max-width: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  z-index: 10;
  box-shadow: 8px 8px 10px #a9a9aa77, 8px 8px 10px #ffffff7e;
}

.blob5 {
  height: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url(../assets/backgrounds/blob5.png);
  opacity: 0.4;
  position: absolute;
  top: 15%;
  left: 35%;
  z-index: 2;
}

@media (max-width: 1410px) {
  .presentationContainer {
    flex-direction: column;
    height: auto;
  }

  .sloganContainer {
    height: 500px;
    width: 100%;
  }

  .portraitContainer {
    width: 100%;
    justify-content: right;
    padding-right: 10%;
  }

  .blob5 {
    top: 29%;
    right: -5%;
    left: auto;
  }
}

@media (max-width: 900px) {
  .sloganItem1 {
    font-size: 100px;
  }

  .sloganItem2 {
    top: 85px;
    left: 100px;
  }
}

@media (max-width: 770px) {
  .portraitContainer {
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .sloganItem1 {
    font-size: 70px;
  }

  .sloganItem2 {
    font-size: 40px;
    top: 55px;
    left: 70px;
  }
}

@media (max-width: 415px) {
  .sloganItem1 {
    font-size: 55px;
  }

  .sloganItem2 {
    font-size: 27px;
    top: 50px;
    left: 80px;
  }

  .sloganItem3 {
    top: 140px;
  }
}
