* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #381fb4;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: relative;
  z-index: 100;
  padding: 20px;
}

h1,
h2 {
  font-weight: 700;
  background: linear-gradient(120deg, #95ccff 0%, #381fb4 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button,
.button2 {
  font-family: "Open Sans", sans-serif;
  color: #381fb4;
}

.line {
  width: 100%;
  border-top: 2px solid #b8c0fb;
}

.generalContentContainer {
  padding: 80px 80px;
}

.contactFooterContainer {
  background-image: linear-gradient(to bottom, white, #b8c0fb);
}

.fa-brands {
  color: #381fb4;
}

@media (max-width: 950px) {
  .generalContentContainer {
    padding: 0;
  }
}
.projectCardContainer {
  width: 100%;
  display: flex;
  max-width: 2000px;
  gap: 80px;
  flex-wrap: wrap;
  height: 90%;
  padding: 80px;
  padding-bottom: 200px;
  justify-content: center;
  position: relative;
}

.projectCard {
  width: 750px;
  display: flex;
  flex-direction: row;
  height: 600px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.projectCard:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.workDescription {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 8px 8px 10px rgba(169, 169, 170, 0.4666666667), 8px 8px 10px rgba(255, 255, 255, 0.4941176471);
  z-index: 20;
}

.workIllustration {
  height: 500px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  margin: 70px 0 30px 30px;
  box-shadow: 8px 8px 10px rgba(169, 169, 170, 0.4666666667), 8px 8px 10px rgba(255, 255, 255, 0.4941176471);
}

.workTitle {
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(20px, 80px, 6vw);
  text-transform: uppercase;
  max-width: 600px;
}

.workCategory {
  width: 100%;
  text-align: right;
  padding: 8px;
  font-weight: 500;
  font-size: 20px;
}

.custom-shape-divider-bottom-1688650861 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1688650861 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1688650861 .shape-fill {
  fill: #ffffff;
}

.overlayProjectCard {
  position: absolute;
  background-color: #381fb4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  color: white;
  padding: 30% 40px 0 40px;
  z-index: 10;
}
.overlayProjectCard .overlayContent {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: flex-end;
  width: 100%;
}
.overlayProjectCard p {
  width: 50%;
  text-align: left;
}
.overlayProjectCard a {
  color: #b8c0fb;
}
.overlayProjectCard a:hover {
  color: #95ccff;
}

@media (max-width: 950px) {
  .worksContainer {
    padding: 0;
  }
}
@media (max-width: 750px) {
  .projectCardContainer {
    padding: 0 20px 200px 20px;
    gap: 40px;
  }
  .projectCard {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: auto;
  }
  .workIllustration {
    height: 100%;
    width: 80%;
    margin: 20px 0;
  }
  .projectCard:hover {
    transform: scale(1);
    cursor: pointer;
  }
}/*# sourceMappingURL=ProjectCard.css.map */